@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';

.day-item {
  color: inherit;

  &:hover {
    text-decoration: none;
  }

  &.closed {
    color: $danger;
  }
}

.day-subtitle {
  opacity: .75;
}
