<!--<div *ngIf="language === 'en'"-->
<!--     class="alert alert-info mx-2 mx-sm-3 mx-md-4 mx-lg-5 my-1 mt-md-4">-->
<!--  Please note, English menu translations are currently not working as expected.-->
<!--</div>-->

<div class="card mx-2 mx-sm-3 mx-md-4 mx-lg-5 my-3 mt-md-4" style="overflow: hidden;">
  <!-- Header -->
  <div class="card-header py-2 px-2 d-flex align-items-center"
       style="height: 2.5rem;">

    <a class="ml-2 ml-md-3 mr-2" [routerLink]="['/']">Start</a>
    <span>/</span>
    <a *ngIf="campusName$ | async as name"
       class="ml-2 mr-2 text-truncate" [routerLink]="['/campus', campus]">{{name}}</a>
    <span>/</span>
    <a class="ml-2 text-truncate">{{day.toDate() | localizedDate : true}}</a>
  </div>

  <!-- Body -->
  <ng-container *ngIf="menu$ | async as menu; else loadingMenu">
    <ng-container *ngIf="menu.isLoaded; else errorLoading">
      <div class="list-group list-group-flush" *ngIf="menu.response.menu.length > 0; else noMenuItems">
        <span *ngFor="let item of menu.response.menu"
              class="list-group-item d-flex p-0 align-items-center">
          <img class="ml-3 mr-1 my-2 flex-shrink-0" style="width: 2em; height: 2em;"
               [src]="getIconURL(item)"/>
          <span class="item-name m-2 ml-0 mr-1">
            {{getTranslation(item)}}
          </span>
          <span class="item-price m-2 ml-auto">
            {{getPriceDisplay(item)}}
          </span>
        </span>

      </div>
      <ng-template #noMenuItems>
        <div class="card-body">{{'MENU.EMPTY' | translate}}</div>
      </ng-template>
    </ng-container>

    <ng-template #errorLoading>
      <ng-container *ngIf="menu.isErrored; else loadingMenu">
        <div class="card-body">{{'MENU.ERROR' | translate}}</div>
      </ng-container>
    </ng-template>
  </ng-container>

  <!-- Fallback body -->
  <ng-template #loadingMenu>
    <div class="card-body">{{'MENU.LOADING' | translate}}</div>
  </ng-template>
</div>
