<div class="card mx-2 mx-sm-3 mx-md-4 mx-lg-5 my-1 mt-md-4" style="overflow: hidden;">
  <div class="card-header py-2 px-2 d-flex align-items-center"
       style="height: 2.5rem;">

    <a class="ml-2 ml-md-3 mr-2" [routerLink]="['/']">Start</a>
    <span>/</span>
    <a *ngIf="getCampusName(campus) | async as name"
       class="ml-2 mr-2 text-truncate" [routerLink]="['/campus', campus]">{{name}}</a>
    <span>/</span>
    <a *ngIf="dayForDisplay(day) as description"
       class="ml-2 text-truncate" [routerLink]="['/campus', campus, 'd', dayForUrl(day)]">{{description}}</a>
  </div>

  <div class="list-group list-group-flush">
    <ng-container *ngIf="menu.menu.length > 0; else noMenuItems">
      <span *ngFor="let item of menu.menu"
            class="list-group-item d-flex p-0 align-items-center">
        <img class="ml-3 mr-1 my-2 flex-shrink-0" style="width: 2em; height: 2em;"
             [src]="getIconURL(item)"/>
        <span class="item-name m-2 ml-0 mr-1">
          {{item.translation['nl_NL']}}
        </span>
        <span class="item-price m-2 ml-auto">
          {{getPriceDisplay(item)}}
        </span>
      </span>
    </ng-container>

    <ng-template #noMenuItems>
      <span class="list-group-item">No menu available for this day.</span>
    </ng-template>
  </div>
</div>
