<div class="card mx-2 mx-sm-3 mx-md-4 mx-lg-5 my-3 mt-md-4" style="overflow: hidden;"
     role="main">
  <!-- Header -->
  <div class="card-header py-2 px-2 d-flex align-items-center border-bottom-0 pb-2"
       style="height: 2.5rem;" role="navigation">

    <a class="ml-2 ml-md-3 mr-2" [routerLink]="['/']"
       [attr.aria-label]="'NAV.START.DESCRIPTION' | translate">Start</a>
    <span role="separator">/</span>
    <a *ngIf="campusName$ | async as name"
       class="ml-2 text-truncate" [routerLink]="['/campus', campus]"
       [attr.aria-label]="'NAV.CAMPUS.DESCRIPTION' | translate:{campus: name}">{{name}}</a>
  </div>

  <!-- Sub-header -->
  <div class="card-header p-0 d-flex justify-content-between align-items-center">
    <span (click)="selectDay(previousDay)"
          class="btn btn-outline-dark px-3 py-2 btn-navigation"
          role="button" tabindex="0" [attr.aria-label]="'MENU.PREVIOUS_DAY.LABEL' | translate">
      <fa-icon [icon]="faChevronLeft"></fa-icon>
    </span>

    <span class="ml-2 text-truncate" id="menu_display_title" role="heading" aria-level="1"
          [attr.aria-label]="'MENU.DESCRIPTION' | translate:({date:(day.toDate() | localizedDate)})">
      {{day.toDate() | localizedDate : true}}
    </span>

    <span *ngIf="nextDay !== null; else disabledNextDay"
          (click)="selectDay(nextDay)"
          class="btn btn-outline-dark px-3 py-2 btn-navigation"
          role="button" tabindex="0" [attr.aria-label]="'MENU.NEXT_DAY.LABEL' | translate">
      <fa-icon [icon]="faChevronRight"></fa-icon>
    </span>
    <ng-template #disabledNextDay>
      <span class="btn btn-outline-dark disabled px-3 py-2 btn-navigation"
            role="button" tabindex="0" [attr.aria-label]="'MENU.NEXT_DAY.LABEL' | translate" aria-disabled="true">
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </span>
    </ng-template>
  </div>

  <!-- Body -->
  <ng-container *ngIf="menuInfo$ | async as menuInfo; else loadingMenu">
    <ng-container *ngIf="menuInfo.isLoaded; else errorLoading">
      <div *ngIf="getClosedDisplay(menuInfo.response) as closedText; else notClosed"
           class="card-body"
           role="status" tabindex="0">
        {{closedText}}
      </div>

      <ng-template #notClosed>
        <ul class="list-group list-group-flush d-block" *ngIf="menuInfo.response.menu.length > 0; else noMenuItems"
            [attr.aria-label]="'LIST.DESCRIPTION' | translate:{length:menuInfo.response.menu.length}">
          <li *ngIf="isMenuProvisional"
              class="list-group-item d-flex p-0 align-items-center" tabindex="0">
            <img class="ml-3 mr-1 my-2 flex-shrink-0" style="width: 2em; height: 2em;"
                 src="/assets/twemoji/26a0.png"
                 role="none"/>
            <span class="item-name m-2 ml-0 mr-1">
              {{'MENU.PROVISIONAL' | translate}}
            </span>
          </li>
          <li *ngFor="let item of menuInfo.response.menu; let i = index; let len = count"
              class="list-group-item d-flex p-0 align-items-center" tabindex="0">
            <span [attr.aria-label]="'LIST.ITEM.DESCRIPTION' | translate:{index:i + 1, length:len}"></span>
            <img class="ml-3 mr-1 my-2 flex-shrink-0" style="width: 2em; height: 2em;"
                 [src]="getIconURL(item)"
                 [alt]="getIconDescription(item) | translate" [title]="getIconDescription(item) | translate"/>
            <span class="item-name m-2 ml-0 mr-1">
              {{getTranslation(item)}}
            </span>
            <span aria-label="."></span>
            <span class="item-price m-2 ml-auto" [attr.aria-label]="getPriceDescription(item) | translate:item">
              {{getPriceDisplay(item)}}
            </span>
          </li>
        </ul>
      </ng-template>


      <ng-template #noMenuItems>
        <div class="card-body">{{'MENU.EMPTY' | translate}}</div>
      </ng-template>
    </ng-container>

    <ng-template #errorLoading>
      <ng-container *ngIf="menuInfo.isErrored; else loadingMenu">
        <div class="card-body">{{'MENU.ERROR' | translate}}</div>
      </ng-container>
    </ng-template>
  </ng-container>

  <!-- Fallback body -->
  <ng-template #loadingMenu>
    <div class="card-body">{{'MENU.LOADING' | translate}}</div>
  </ng-template>
</div>
