<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/']">Komidabot</a>
  <!--  <button class="btn btn-light" onClick="document.location.reload(true)">Reload page</button>-->
  <div class="btn-group btn-group-toggle">
    <label class="btn btn-light" [class.active]="language === 'nl'">
      <input type="radio" name="language" value="nl" (click)="setLanguage('nl')" [checked]="language === 'nl'"> NL
    </label>
    <label class="btn btn-light" [class.active]="language === 'en'">
      <input type="radio" name="language" value="en" (click)="setLanguage('en')" [checked]="language === 'en'"> EN
    </label>
  </div>
</nav>
<a *ngIf="updateAvailable"
   class="d-block p-2 bg-warning text-center"
   style="cursor: pointer;"
   (click)="refreshPage()"
>{{'APP.UPDATE_AVAILABLE' | translate}}</a>
<!--<div>{{deviceInfo | json}}</div>-->
<router-outlet></router-outlet>
<app-splash-screen *ngIf="displaySplash" (delete)="splashComplete()"></app-splash-screen>
