<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/']">Komidabot</a>
  <!--  <button class="btn btn-light" onClick="document.location.reload(true)">Reload page</button>-->
  <ng-container *ngIf="!isOnSettings(); else settingsPage">
    <a class="mr-3 ml-auto d-block text-light text-center"
       style="font-size: 1.5rem; width: 2rem; height: 2rem; line-height: 2rem;"
       [routerLink]="['/settings']"
       [attr.aria-label]="'SETTINGS.COG.DESCRIPTION' | translate">
      <fa-icon [icon]="faCog"></fa-icon>
    </a>
    <div *ngIf="language$ | async as language" class="btn-group btn-group-toggle">
      <label class="btn btn-light" [class.active]="language === 'nl'"
             lang="nl" aria-label="Nederlands">
        <input type="radio" name="nav-language" value="nl" (click)="setLanguage('nl')" [checked]="language === 'nl'">
        NL
        <!--      <img class="m0" style="width: 2em; height: 2em; margin: -.25em;"-->
        <!--           src="/assets/twemoji/1f1f3-1f1f1.png"/>-->
        <!--      <img class="m0" style="width: 2em; height: 2em; margin: -.25em;"-->
        <!--           src="/assets/twemoji/language-dutch.png"/>-->
      </label>
      <!--    <label class="btn btn-light" [class.active]="language === 'fr'">-->
      <!--      <input type="radio" name="language" value="en" (click)="setLanguage('fr')" [checked]="language === 'fr'">-->
      <!--      <img class="m0" style="width: 2em; height: 2em; margin: -.25em;"-->
      <!--           src="/assets/twemoji/1f1eb-1f1f7.png"/>-->
      <!--      <img class="m0" style="width: 2em; height: 2em; margin: -.25em;"-->
      <!--           src="/assets/twemoji/language-french.png"/>-->
      <!--    </label>-->
      <label class="btn btn-light" [class.active]="language === 'en'"
             lang="en" aria-label="English">
        <input type="radio" name="nav-language" value="en" (click)="setLanguage('en')" [checked]="language === 'en'">
        EN
        <!--      <img class="m0" style="width: 2em; height: 2em; margin: -.25em;"-->
        <!--           src="/assets/twemoji/1f1ec-1f1e7.png"/>-->
        <!--      <img class="m0" style="width: 2em; height: 2em; margin: -.25em;"-->
        <!--           src="/assets/twemoji/language-english.png"/>-->
      </label>
    </div>
  </ng-container>
  <ng-template #settingsPage>
    <a class="btn btn-light"
       [routerLink]="['/']">
      {{'SETTINGS.GO_BACK' | translate}}
    </a>
  </ng-template>
</nav>
<a *ngIf="updateAvailable"
   class="d-block p-2 bg-warning text-center"
   style="cursor: pointer;"
   (click)="refreshPage()"
   role="status"
   aria-live="polite"
>{{'APP.UPDATE_AVAILABLE' | translate}}</a>

<a *ngIf="botRedirect"
   class="d-block p-2 bg-warning text-center"
   style="cursor: pointer; text-decoration: none;"
   href="https://komidabot.xyz/"
   role="status"
   aria-live="polite"
>{{'APP.DOMAIN_CHANGE' | translate}}</a>

<div *ngIf="(language$ | async) === 'fr'"
     class="alert alert-info mx-2 mx-sm-3 mx-md-4 mx-lg-5 my-1 mt-md-4">
  Let op. Frans is momenteel geen ondersteunde taal.
</div>

<!--
<a class="d-block p-2 bg-warning text-center"
   style="cursor: pointer; text-decoration: none;"
   [href]="'APP.COVID19_INFO_LINK' | translate"
>{{'APP.COVID19_UNAVAILABLE' | translate}}</a>
-->

<!--<div>{{deviceInfo | json}}</div>-->
<router-outlet></router-outlet>
<app-splash-screen *ngIf="displaySplash" (delete)="splashComplete()"></app-splash-screen>
