@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.campus-item {
  color: inherit;

  &:hover {
    text-decoration: none;
  }

  &.closed {
    color: $danger;
  }
}

.campus-subtitle {
  opacity: .75;
}
