<div class="card m-2 m-sm-3 m-md-4 m-lg-5" style="margin-bottom: 0 !important;">
  <div class="card-header">{{'CAMPUS.LIST.HEADER' | translate}}</div>
  <div class="list-group list-group-flush" *ngIf="campusInfo$ | async as campuses; else loadingCampuses">
    <a *ngFor="let campusInfo of campuses"
       [routerLink]="['/campus', campusInfo.campus.short_name]"
       class="list-group-item campus-item py-2 px-3"
       [class.closed]="isCampusClosed(campusInfo)">
      <span class="card-title d-block m-0">
        <img *ngIf="isCampusClosed(campusInfo)"
             src="/assets/twemoji/274c.png"
             class="emoji"/>

        {{campusInfo.campus.name}}
      </span>
      <span *ngIf="getCampusSubscript(campusInfo) as subscript"
            class="card-subtitle d-block m-0 campus-subtitle">
        {{subscript}}
      </span>
    </a>
  </div>
  <ng-template #loadingCampuses>
    <div class="card-body">{{'LOADING' | translate}}</div>
  </ng-template>
</div>
