<div class="card mx-2 mx-sm-3 mx-md-4 mx-lg-5 my-3 mt-md-4" style="overflow: hidden;">
  <div class="card-header py-2 px-2 d-flex align-items-center border-bottom-0 pb-2"
       style="height: 2.5rem;">

    <a class="ml-2 ml-md-3 mr-2" [routerLink]="['/']">Start</a>
    <span>/</span>
    <a *ngIf="getCampusName(campus) | async as name"
       class="ml-2 text-truncate">{{name}}</a>
  </div>

  <div class="card-header p-0 d-flex justify-content-between align-items-center">
    <a [routerLink]="['/campus', campus, 'w', dayForUrl(previousWeek)]"
       class="btn btn-outline-dark px-3 py-2"
       style="border: 0 none; border-radius: 0; box-shadow: none;">
      <i class="fa fa-chevron-left"></i>
    </a>

    <div *ngIf="weekDescription as description">
      {{description | translate}}
    </div>

    <a [routerLink]="['/campus', campus, 'w', dayForUrl(nextWeek)]"
       class="btn btn-outline-dark px-3 py-2"
       style="border: 0 none; border-radius: 0; box-shadow: none;">
      <i class="fa fa-chevron-right"></i>
    </a>
  </div>

  <div class="list-group list-group-flush" *ngIf="days$ | async as days">
    <a *ngFor="let info of days"
       [routerLink]="['/campus', campus, 'd', dayForUrl(info.day)]"
       class="list-group-item day-item"
       [class.closed]="isCampusClosed(info)">
      <span class="card-title d-block m-0">
        <img *ngIf="isCampusClosed(info)"
             src="/assets/twemoji/274c.png"
             class="emoji"/>
        {{info.day.toDate() | localizedDate : true}}
      </span>
      <span *ngIf="getDaySubscript(info) as subscript"
            class="card-subtitle d-block m-0 day-subtitle">{{subscript}}</span>
    </a>
  </div>
</div>
