<div class="card campus-list" *ngIf="campuses$ | async as campuses">
  <div class="card-header">
    Select campus
  </div>
  <div class="list-group list-group-flush">
    <a *ngFor="let campus of campuses"
       [routerLink]="['/campus', campus.short_name]"
       class="list-group-item">
      {{campus.name}}
    </a>
  </div>
</div>

<div *ngIf="subscriptionState | async as state" style="margin: 2em; text-align: center;">
  <ng-container *ngIf="state.subscribed; else unsubscribed">
    <button class="btn btn-primary" (click)="unsubscribe()">
      Unsubscribe
    </button>
  </ng-container>
  <ng-template #unsubscribed>
    <button [disabled]="!state.subscribable || !VAPID_PUBLIC_KEY" class="btn btn-primary"
            (click)="subscribeToNotifications()">
      Subscribe
    </button>
  </ng-template>
</div>
